:root {
  --dark: #202022;
  --grey: #64646A;
  --white: #FFFFFF;
  --max-width: 1440px;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
  color: var(--dark);
}
.top-cap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: var(--dark);
  z-index: 10;
}
.close-button {
  position: absolute;
  top: 48px;
  right: 48px;
  width: 52px;
  height: 52px;
  cursor: pointer;
  background: url('https://res.cloudinary.com/dlbnlilfj/image/upload/v1745994664/Close_Button_jor3b2.svg') no-repeat center center;
  background-size: contain;
}
.close-button:hover {
  filter: invert(1);
}
.title-section {
  width: 1440px;
  height: 378px;
  margin: 150px auto 60px auto;
  background-size: cover;
}
.content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 60px;
  box-sizing: border-box;
}
.highlight {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  column-gap: 60px;
  row-gap: 100px;
}
.highlight .media {
  max-width: 640px;
  width: 640px;
}
.highlight .text {
  max-width: 580px;
}
.highlight:nth-of-type(even) {
  flex-direction: row-reverse;
}
.highlight:nth-of-type(even) .text {
  text-align: right;
  padding-right: 16px;
}
.highlight:nth-of-type(even) .media {
  text-align: left;
}
.highlight:nth-of-type(odd) .text {
  text-align: left;
  padding-left: 16px;
}
.highlight:nth-of-type(odd) .media {
  text-align: right;
}

.highlight img,
.highlight video,
.highlight svg {
  width: auto;
  max-height: 360px;
  height: auto;
}
.highlight p {
  font-size: 19pt;
  line-height: 1.25;
}
.quote {
  font-size: 28pt;
  color: rebeccapurple;
  font-weight: bold;
  text-align: center;
  margin: 100px auto;
  max-width: 800px;
}
